.wrap-all{
    display: flex;
    justify-content: space-between;
    height: 100vh;
}
.video-center{
    width: 70%;
    height: 100%;
    border: 1px solid lightgray;
}
.side-videos{
    width: 20%;
    height: 100%;
    border: 1px solid lightgray;
}
.item-side-video{
    height: 20%;
    border-bottom: 1px solid lightgray;
}
.list-video{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.video-bloc{
    border: 1px solid lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}